/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ojuju:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono:100,200,300,regular,500,600,700,800,900);

:root {
}
/* Defaul style */
body {
  font-family: Noto Sans Mono, sans-serif;
}
/* Wrapper */
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/* container + padding */
[class*="__container"] {
  max-width: 73.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}
.title {
  font-size: clamp(20px, 2.5vw, 40px);
  font-weight: 700;
  background-color: rgb(0, 0, 0, 0.1);
  color: transparent;
  text-align: center;
  padding-block: 10px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-text-stroke: 1.5px black;
}
/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(247, 247, 247, 0.8);
}
.header__container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 6.25rem;
}

.header__logo {
  font-family: Ojuju, sans-serif;
  /* font-family: Noto Sans Mono, sans-serif; */
  font-weight: 700;
  font-size: 1.625rem;
}
.header__logo p span {
  font-size: 1rem;
  color: rgb(71, 71, 71);
  font-weight: 500;
}

.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 3.125rem;
  row-gap: 0.625rem;
}
.menu__item {
}
.menu__link {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 479.99px) {
  .header__container {
    display: block;
  }
  .header__logo {
    display: flex;
    justify-content: center;
    gap: 0.3125rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .menu__list {
    justify-content: center;
  }
}
/* Main Page */
.main {
  height: 100vh;
  display: flex;
  color: white;
  overflow: scroll;
}
.main__container {
  padding-top: 150px;
  /* padding-bottom: 50px; */
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.main__competition {
}
.main__competition-title {
  margin-bottom: 40px;
}
.main__competition-date {
  margin-bottom: 10px;
  font-size: 20px;
}
.main__competition-name {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.main__competition-place {
  font-size: 14px;
  margin-bottom: 15px;
}
.main__competition-coordinates {
  margin-bottom: 20px;
  font-size: 14px;
}
.main__competition-location {
  margin-bottom: 50px;
}
.content-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
}
.content-main-right {
  display: flex;
  justify-content: end;
}
.item-content-main {
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.2);
  backdrop-filter: blur(5px);
}
.item-content-main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}
.item-content-main__header-title {
}
.item-content-main__header-date {
}

.item-content-main__box {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  position: relative;
}
.item-content-main__box-image {
  position: relative;
  min-width: 90px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
}
.item-content-main__box-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-content-main__box-text {
  line-height: 1.1;
  font-size: 14px;
}
/* coptetition */
.competition {
  height: 100vh;
  display: flex;
  color: white;
}
.competition__container {
  position: relative;
  z-index: 3;
  flex: 1 1 auto;
  display: flex;
}
.competition__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -3;
}
.competition__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.competition__title {
  padding: 20px 0 30px 0;
  font-size: clamp(16px, 3.12vw, 35px);
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
}
.competition__baner {
}
.competition__buner-inner:not(:last-child) {
  margin-bottom: 10px;
}
.competition__buner-title {
  color: #000;
  padding-left: 15px;
}
.competition__buner-scroll {
  font-size: clamp(16px, 2.22vw, 26px);
  position: relative;
  z-index: -1;
  line-height: 1.5;
  height: 1.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@keyframes auto-scroll {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-1.5em);
  }
  40% {
    transform: translateY(-1.5em);
  }
  50% {
    transform: translateY(-3em);
  }
  70% {
    transform: translateY(-3em);
  }
  80% {
    transform: translateY(-4.5em);
  }
  100% {
    transform: translateY(-4.5em);
  }
}
.competition__buner-scroll-text {
  animation: auto-scroll 10s infinite;
}

/* BACK BUTTON */
.back-btn {
  color: aliceblue;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transition: background-color ease 0.3s;
}
.back-btn::after {
  content: "";
  width: 20px;
  height: 20px;
  position: relative;
  background: url(../image/icons/back-arrow.svg) center/contain no-repeat;
}
.back-btn:hover {
  background-color: #000;
}
.back-btn:hover:hover::after {
  filter: invert(1);
}
@media (max-width: 479.99px) {
  .item-content-main__header-title {
    font-size: 16px;
  }
  .item-content-main__header-date {
    font-size: 14px;
  }
  .item-content-main__box-text {
    font-size: 12px;
    line-height: 1;
  }
  .item-content-main__box-image {
    width: 80px;
    height: 80px;
  }
}
